name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.5" # Use your Flutter version (flutter --version)

      - name: Install dependencies
        working-directory: ./shorthand_app
        run: flutter pub get

      - name: Build web
        working-directory: ./shorthand_app
        run: flutter build web --release

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./shorthand_app/build/web
          keep_files: false
